body {
    background-color: rgba(146, 146, 105, 0.082);
    font-family: Arial, sans-serif; 
}

.contenedor {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

.ñofi {
    max-width: 60%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6; 
}

.imagen-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.imagen {
    width: 100%; 
    max-width: 480px; 
    height: auto; 
    border-radius: 10px; 
    margin-top: 50px; 
}